.navbar{
    background-color:#BAD8B6 ;
    height:150px;
    color:black;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.content{
    background-color: #E1EACD;
    text-align: center;
}
#logo{
    font-size: 25px;
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;

}
#para{
 background-color: #f0efe9;
 margin-left: 320px;
 text-align: center;
 width:700px;

}
button{
    background-color: lightgreen;
}